*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #0d10c8;
    display: block;
    margin: auto;
    transition: 0.10s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

/*----- course2 -----*/

.course2{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
 h1{
    font-size: 36px;
    font-weight: 600;
    margin: 10px;
}
 p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #ecd9d9;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.3s;
}


.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.blogcontainer h1{
    color: #910a0a;
    margin: 3%;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center; 
    text-shadow: 10px 10px 20px rgb(0, 0, 0);
}
.blogcontainer p{
    color: #777;
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.blogcontainer p1{
    color: #777;
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
}

.blogcontainer div{
    padding: 80px;
    position: relative;
}
.course h1{
    color: #910a0a;
    margin: 3%;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center; 
    text-shadow: 10px 10px 20px rgb(0, 0, 0);
}
.course p{
    color: #1b739c;
    font-size: 20px;
    margin: 3%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    text-decoration: underline;
}
.about h1{
    color: #910a0a;
    text-decoration: none;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
    margin: 3%;
    text-shadow: 10px 10px 20px rgb(0, 0, 0);
}
.about p{
    color: #d9e0e3;
    font-size: 25px;
    margin:  100px 1%;
    text-align: left;
    font-family: sans-serif;
}


/*------- campus ----*/

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 5px;
}
.campus-col{
    flex-basis: 32;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 50%;
    margin: 0;
}
.campus h1{
    color: #0c0b0b;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center; 
    text-decoration: underline;
}
p{

    margin-bottom: 5%;
    font-family: sans-serif;
}


.contactform{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 90%;
    max-width: 600px;
}
.input-group{
    margin-bottom: 30px;
    position: relative;
}
input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}
label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.3s;
}
button{
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 12px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row .input-group{
    flex-basis: 48%;
}

/*-----Facilities-----*/

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 5px;
}
.facilities-col{
    flex-basis: 32;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.facilities-col img{
    width: 50%;
    margin: 0;
}